nav ul
{
    list-style-type: none;
    display: flex;

}

h2,
label {
    color: #34495e;

}

nav a:hover 
{
    color: #760001;
    border-bottom: 3px solid #760001;

}
input 
{
    border-bottom: 3px solid #760001;
}

nav ul
{
    list-style-type: none;
    display: flex;

}
#formulaire
{
    border-color: blue;
    margin: 0 auto; 
    width: 900px;

}

nav li
{
    margin-right: 15px;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
    background-color: blue;
}




body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #7f8c8d;
    font-size: 15px;
    line-height: 1.7em;
}

footer 
{
    background : blue; 
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}
.for {
    width: 900px;

    margin: 1em auto auto;

}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}



